.container {
  max-width: $website-width;
  margin: auto;
  padding: 0 1.5rem;
  overflow: hidden;
}

%btn-shared {
  display: inline-block;

  color: #fff;
  font-weight: 600;

  padding: 0.8rem 2rem;

  cursor: pointer;
  border: none;
  border-radius: 3px;

  transition: all 0.5s ease;
}
@mixin flex-align() {
  display: flex;
  justify-content: space-between;
}
@mixin grid() {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.btn {
  &-main {
    @extend %btn-shared;
    color: $light-color;
    background-color: $main-color;

    &:hover {
      background-color: $dark-color;
      box-shadow: $btn-box-shadow;
    }
  }

  &-light {
    @extend %btn-shared;
    background: $light-color;
    &:hover {
      background: $main-color;
    }
  }
  &-dark {
    @extend %btn-shared;
    color: #333;
    background: $dark-color;
  }
}
//instead of creating multiple hover-state several times
button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
  background-color: $main-color;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
.text-center {
  text-align: center;
}

//padding

.py {
  &-1 {
    padding: 1rem 0;
  }
  &-2 {
    padding: 2rem 0;
  }
  &-3 {
    padding: 3rem 0;
  }
  &-4 {
    padding: 4rem 0;
  }
}
//margin
.my {
  &-1 {
    margin: 1rem 0;
  }
  &-2 {
    margin: 2rem 0;
  }
  &-3 {
    margin: 3rem 0;
  }
  &-4 {
    margin: 4rem 0;
  }
}
.section {
  &-title {
    font-size: 2rem;
    color: $main-color;

    text-transform: capitalize;
    letter-spacing: 2px;

    display: block;
    padding-bottom: 0.2rem;
    text-align: center;
  }
}

.bottom {
  &-line {
    width: 3rem;
    height: 5px;
    background-color: $main-color;
    margin: 0 auto 1.2rem auto;
  }
}
// Backgrounds
.bg {
  &-light {
    background: $light-color;
    color: set-text-color($light-color);
  }
  &-main {
    background: $main-color;
    color: #fff;
  }
  &-dark {
    background: $dark-color;
    color: #fff /*set-text-color($dark-color)*/;
  }
  &-medium {
    background: $medium-color;
    color: set-text-color($medium-color);
  }

  &-gradient {
    background: $bg-gradient;
    color: $light-color;
  }
}

.border-bottom {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
