@import 'config';
@import 'utilities';
@import 'items_grid';
@import 'animation';

// General styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: $dark-color;
}
img {
  width: 100%;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}
// header starts
//Logo
#logo {
  width: 120px;
  height: 120px;
  color: #fff;
  text-transform: uppercase;
}
// Main-Nav
#main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  ul {
    display: flex;
    margin-left: auto;
  }
  li {
    padding: 1rem 1.5rem;
  }
  a {
    text-decoration: none;
    color: $main-color;
    text-transform: uppercase;
    font-weight: 600;

    border-bottom: 3px solid transparent;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &:hover {
      border-color: $medium-color;
      color: $main-color;
    }
    &.current {
      border-color: $main-color;
    }
  }

  .cta-link {
    cursor: pointer;
    border: none;
    border-radius: 3px;

    background-color: $main-color;
    color: #fff;
    font-size: 1rem;

    padding: 0.7rem 1.6rem;
    margin-left: 3rem;

    transition: all 0.3s ease;
    animation: heartbeat 1s ease-in-out infinite alternate both;
    -webkit-animation: heartbeat 1s ease-in-out infinite alternate both;

    &:hover {
      background-color: lighten($main-color, 5%);
      box-shadow: $btn-box-shadow;
    }
  }
}
#header {
  &-home {
    background: $bg-image no-repeat center center/cover;

    height: 100vh;

    color: $main-color;

    //Header Content
    .header-content {
      text-align: center;
      // padding-top: 5%;

      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      &-text {
        width: 50%;
        h1 {
          font-size: 3.5rem;

          line-height: 1.2;
          color: $dark-color;
        }
      }

      &-img {
        width: 40%;

        img {
          width: 70%;
          display: block;
        }
      }
    }
  }

  // Header inner
  &-inner {
    background: $bg-image no-repeat 20% 30% / cover;
    height: 5.5rem;
    border-bottom: 3px $main-color solid;
  }
}
//Home-sections
#home {
  // Home Section-A
  &-a {
    .specials {
      @include grid;
      margin-top: 3rem;
      grid-gap: 1rem;
      .fas {
        color: $main-color;
        padding-bottom: 0.6rem;
      }
    }
  }
  // Home-section-B
  &-b {
    .stats {
      @include grid;
      li {
        line-height: 2;

        &.stats-title {
          font-size: 1.5rem;
        }

        &.stats-number {
          font-size: 2rem;
          font-weight: bold;
        }
      }
      div {
        padding: 3.5rem 0;

        &:nth-child(odd) {
          background: $light-color;
        }
        &:nth-child(even) {
          background: $medium-color;
        }
      }
    }
  }
  // Home Section -C
  &-c {
    .process {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1.5rem;

      // process-step
      &-step {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 28px;
        background: $main-color;
        color: set-text-color($main-color);
        border-radius: 50%;
        height: 15px;
        width: 15px;
        line-height: 15px;
        padding: 1rem;
        transition: all 1s;
        text-align: center;
      }

      // process-icon
      &-icon {
        border-radius: 50%;
        background: $dark-color;
        color: #fff;
        padding: 2rem;
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        position: relative;
        transition: all 1s;
        text-align: center;

        &:hover {
          background: $main-color;
          width: 90px;
          height: 90px;
          line-height: 90px;

          .process-step {
            background: $dark-color;
            color: set-text-color($dark-color);
          }
        }
      }
    }
  }
}
// ABOUT SECTIONS
#about {
  // About-A
  &-a {
    @extend .border-bottom;

    .about-info {
      display: grid;
      grid-template-areas: 'bioimage bio bio';
      grid-gap: 1.2rem;
    }

    // GRID AREA
    .bioimage {
      grid-area: bioimage;
      border-radius: 50%;
    }
    .bio {
      grid-area: bio;
      border-left: 3px $main-color solid;
      padding: 0.8rem;
    }
  }

  // About-B
  &-b {
    .progress {
      overflow: hidden;
      height: 20px;
      background: $medium-color;
      border-radius: 5px;
      margin-bottom: 0.7rem;

      div {
        background: $main-color;
        height: 20px;
      }
    }
  }
  // Section-C
  &-c {
    .logo-box {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 2rem;

      img {
        width: 70%;
      }
    }
  }
}

// Contact
#contact {
  .text-fields {
    display: grid;
    grid-template-areas:
      'name email'
      'subject phone'
      'message message';
    grid-gap: 1.2rem;
    margin-bottom: 0.6rem;

    input,
    textarea {
      border-radius: 3px;
      border: 1px solid $main-color;
      outline: 1px solid transparent;
      transition: all 0.5s ease;

      &:focus {
        outline-color: $main-color;
      }
    }

    // Grid Areas
    .name-input {
      grid-area: name;
    }
    .subject-input {
      grid-area: subject;
    }
    .email-input {
      grid-area: email;
    }
    .phone-input {
      grid-area: phone;
    }
    .message-input {
      grid-area: message;
      height: 100px;
    }

    .text-input {
      padding: 0.5rem 1rem;
    }
  }

  button[type='submit'] {
    width: 40%;
    color: #fff;
    font-size: 1.2rem;
  }
}

.contact {
  &-contents {
    display: flex;
    justify-content: flex-start;

    background: $bg-contact no-repeat center center/cover;

    height: 32rem;
    margin: 3rem 0;

    border-radius: 5px;

    &-form {
      background-color: rgba(197, 195, 195, 0.862);
      clip-path: polygon(0 0, 100% 0%, 72% 100%, 0% 100%);

      width: 50%;
      padding: 2rem 3rem;

      form {
        width: 70%;
        padding: 1rem 0;
      }
    }
  }
}

// Our Footer
#main-footer {
  background: $dark-color;
  color: #fff;
  height: 5rem;

  .footer-content {
    @include flex-align;
    height: 5rem;
    align-items: center;

    .social .fab {
      margin-right: 1rem;
      border: 2px #fff solid;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      line-height: 20px;
      text-align: center;
      padding: 0.2rem;
      transition: all 0.3s linear;

      &:hover {
        background: $dark-color;
      }
    }
  }
}
// media: phone and tablet
@import 'media';
